@import url('./main.css');

.navigation{
    float: right;
    width: 250px;
    list-style: none;
    font-size: 18px;
    display: flex;
    color: #fff;
    justify-content: space-between;
}


.header_nav{
    width: 100%;
    display: inline-block;
}

.header_img{
    width: 105px;
    margin-right: 30px;
}

.left{
    display: flex;
    align-items: center;
}

.header_title {
    font-size: 22px;
    font-weight: 500;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header_nav .nav-item{
    color: #383838;
}











.news{
    margin-top: 80px;
    padding: 0 20px;
}

.news_title{
    max-width: 1020px;
    font-size: 28px;
    font-weight: bold;
    color: #383838;
    margin-left: 200px;
}

.news_text{
    margin-left: 200px;
    margin-top: 30px;
    font-size: 20px;
    max-width: 1040px;
    text-align: justify;
}

.news_photos{
    margin: 100px 0;
}

.news_photos .container{
    max-width: 1040px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
}


.news_photos img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
}


@media (max-width:1280px){
    main .news_title, .news_text{
        margin: 0 auto;
    }
}


@media (max-width:1280px){
    main .news_title, .news_text{
        margin: 0 auto;
        margin-top: 30px;
    }
}

@media (max-width:935px){
    main .news_photos>.container{
        flex-direction: column;
        align-items: center;
        row-gap: 50px;
    }
}



@media (max-width:470px){
    header .container{
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
}